* {
  font-family: "Ubuntu", monospace;
}

body {
  min-height: 100vh;
  background: black;
}

h1 {
  color: #4af626
}

.app {
  justify-content: center;
  background: black;
  font-family: "Ubuntu", monospace;
  font-weight: 300;
  padding: 20px 0;
}

.home,
.room-info {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: black;
}

.home p {
  color: #4af626;
}

.home form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: #4af626;
  justify-content: center;
}

.home button,
.invite button,
.invite input,
.home form button,
.home form input,
.chatbox form input,
.chatbox form button {
  background: black;
  color: #4af626;
  border: 1px solid #4af626;
  cursor: pointer;
}

.home form button:focus,
.home form input:focus,
.chatbox form input:focus {
  outline: 1px solid #46f121;
}

.home button:focus {
  outline: 0px solid transparent;
}

.home-selected {
  background: #4af626 !important;
  color: black !important;
}

.create-private {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-private input[type=checkbox] {
  background: #4AF626;
}

.room-info {
  margin: 20px auto;
  height: 150px;
}

.room-info * {
  color: #4af626;
}

.room-info h2,
.room-info h3,
.room-info h5,
.room-info ul {
  margin: 0 auto;
}

.room-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.room-info ul li div {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline;
}

.offline {
  color: red;
  height: 5px;
  width: 5px;
}

.online {
  color: #4af626;
  height: 30px;
  width: 5px;
}

.chatbox {
  margin: 0 auto;
  padding: 20px;
  width: 50vw;
  min-width: 280px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4af626;
}

.chatbox-messages {
  height: 200px;
  border: 1px solid #4af626;
  display: block;
  min-width: 280px;
  width: 50vw;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.chatbox form {
  margin: 20px auto;
}

.chatbox p {
  margin: 0;
}

.chatbox-you {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #010101;
}

::-webkit-scrollbar-thumb {
  background: #4af626;
}
